* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #49beb7
}

.contiene-videoApp {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh
}

    .titulo {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2em;
        text-align: left
    }

        .titulo h1 {
            color: #1a1a1a;
            letter-spacing: 2px;
        }

    .contenedor {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2em
    }

        .canvas {
            width: 50%;
            text-align: left
        }

            canvas {
                background: #1a1a1a
            }

        .video {
            width: 50%;
            text-align: right
        }

        .video video {
            outline: none
        }

    .controles {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;  
        margin: 0 auto;
        padding: 1em 2em
    }

        button {
            width: 18%;
            padding: 1em 3em;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            color: #1a1a1a;
            background: transparent;
            border: 1px solid #1a1a1a;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            transition: all ease .3s
        }

            button:hover {
                color: #888;
                background: #1a1a1a
            }